:root {
    --bg-main: #0F172A;
    --bg-surface: #1E293B;
    /* Für deine Market-Table */
    --border-subtle: #334155;

    --brand-purple: #8B5CF6;
    --crypto-up: #10B981;
    --crypto-down: #F43F5E;

    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;
}

* {
    margin: 0;
}

body {
    font-family: 'Monaco', Sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    min-height: 100%;
    font-size: medium;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

td,
th {
    padding: 1rem;
}